.main-container {
    min-height: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
    margin: 0 !important;
    display: flex;
}

.content-container {
    height: calc(100% - 64px);
}

.content-container-inner {
    max-height: 100%;
}

@media only screen and (max-width: 600px) {
    .main-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 100% !important;
        margin: 0 !important;
    }

    .content-container {
        height: calc(100% - 56px);
    }

    .px-16-mobile {
        padding-right: 16px;
        padding-left: 16px;
    }
}